@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3899FA;
  --color-secondary: #565D6D;
  --color-accent:  #FFFFFF;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #3899FA;
  --color-secondary: #565D6D;
  --color-accent:  #FFFFFF;
}



.active{
  background: #3899FA;
  color: white;
}